main{
	text-align: center;
	margin-top: 10%;
	border-radius: 5px;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 10%;
	padding-bottom: 3%;
	/*background-color: #585858;*/
}
.id1{
	margin-left: 20px;
}
input{
	font-size: 10pt;
	
	text-align: center;
	width: 30%;
	height: 30px;
	border:none;
	border-radius: 1px;
	border-bottom: 1px solid #848484;
}
.log{
	padding-top: 5%;
	padding-bottom: 15%;
}
button:hover{
	cursor: pointer;
	transition: 0.5s;
	transform:scale(0.9);
	background-color: #F2F2F2;
	color: #848484;
	font-weight: bold;
}
button{
	color: white;
	font-size: 10pt;
	width: 40%;
	height: 35px;
	border:none;
	border-radius: 50px;
	background-color: #BDBDBD;
	transition: 0.2s;
	transform: scale(1);
}
a{
	font-size: 10pt;
	text-decoration: none;
	color: #585858;
	margin-right: 2%;
	margin-left: 2%;
}

footer{
	color: #BDBDBD;
}
