html,body{
/*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
background-image: url("../main/mainimg/theball.jpg");
/*overflow: hidden;*/

}



#ericamap {
  /*width: 50%;*/
  border-radius: 45%;

  width: 70%;

}

.container {
  margin-top: 10%;
  /*position: fixed;*/



}

#main-section{

background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
/*height: 600px;*/

}

@media only screen and (max-width: 500px) {
    .container {
      margin-top: 10%;
    }

    #home {
      margin-top: -10%;
    }

    #menuicon, #xicon, #menubar {
      margin-top:-10%;
    }
    #main-section{

    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    height: 600px;

    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .container {
      margin-top: 15%;
    }

    #home {
      margin-top: 0%;
    }

    #menuicon, #xicon, #menubar {
      margin-top: 0%;
    }
    #main-section{

    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    height: 700px;

    }
}





#right-side{
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  height: 300px;
  display: none;
  /*border-radius: 5%;*/

}

.notice-table {
  width: 100%;
  height: 300px;

  /*margin-left: 15%;*/

}


#menuicon{
  z-index: 110;
}

#xicon{
  z-index: 120;
}
