section{
	width:100%;
	text-align: center;
}

.momtong{
	border-bottom: 2px solid #585858;
	border-top: 2px solid #585858;
	font-size: 11pt;
}
.vs{
	font-size:10pt;
}
#gamenotice{
	font-size: 11pt;
	color: #8A0829;
}
/*main{
	margin-left: 1%;
	padding-right: 0px;
}*/
iframe{
	border-bottom: 2px solid #585858;
	margin-bottom: 5%;
}
