body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
}
@font-face{
  font-family: headerfont;
  src: url(font/Anson-Regular.otf);
}
@font-face {
  font-family: myserif;
  src: url(font/Anson-Regular.otf);
}
@font-face {
  font-family: mylight;
  src: url(font/Existence-Light.otf);
}
@font-face {
  font-family: myexplain;
  src: url(font/CaviarDreams.ttf);
}
video{
  position: fixed;
	top : 0;
	left : 0;
	min-width : 100%;
	min-height : 100%;
  height: auto;
  width: auto;
	z-index : -1;
}
header{
  font-family: mylight;
  position: fixed;
  top: 15.5%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
header a{
  text-decoration: none;
  font-weight: normal;
  font-size: 35pt;
  letter-spacing: 0.8pt;
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
svg{
  height: 70px;
  position: fixed;
}
nav{
  font-family: myserif;
  background-color: rgba(0, 0, 0, 0.4);
  width: 22%;
  height: 100%;
  position: fixed;
}
nav h2{
  position: absolute;
  left: 10%;
  font-size: 30pt;
}
nav ul{
  list-style: none;
  /*padding-left: 0;*/
  position: absolute;
  top: 10%;
}
nav ul li{
  font-size: 18pt;
  font-family: myserif;
  margin-bottom: 5%;
  width: 100%;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{

}
.main p{
  font-size: 30pt;
  font-family: mylight;
  position: fixed;
  top: 25%;
  text-align: center;
  color: white;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.buttons{
  position: fixed;
  top: 40%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.buttons #lecture,#futsal{
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.7px solid white;
  font-size: 14pt;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.buttons #lecture:hover ,#futsal:hover{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
}
.buttons #lecture{
  margin-right: 1%;
}
footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #2F2E2E;
  font-size: 9pt;
  letter-spacing: 3pt;
  font-family: myexplain;
}
