body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
}
@font-face{
  font-family: headerfont;
  src: url(font/norwester.otf);
}
@font-face {
  font-family: myserif;
  src: url(font/Anson-Regular.otf);
}
@font-face {
  font-family: mylight;
  src: url(font/Existence-Light.otf);
}
video{
  position: fixed;
	top : 0;
	left : 0;
	min-width : 100%;
	min-height : 100%;
  height: auto;
  width: auto;
	z-index : -1;
}
header{
  font-family: myserif;
  font-size: 15pt;
  position: fixed;
  top: -2%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
header a{
  text-decoration: none;
  color: black;
}
nav{
  font-family: myserif;
  position: fixed;
  width: 100%;
  height: 54px;
  margin: 0 auto;
  text-align: center;
  float: left;
  top: 5.5%;
}
nav ul{
  list-style: none;
}
nav ul li{
  display: inline-block;
  font-size: 14pt;
  font-family: myserif;
  padding-right: 2%;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
}
.main p{
  font-size: 28pt;
  font-family: mylight;
  position: fixed;
  top: 23%;
  text-align: center;
  color: white;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}
.buttons{
  position: fixed;
  top: 36%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.buttons #go,#login{
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.7px solid white;
  font-size: 12pt;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.buttons #go:hover ,#login:hover{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.8);
}
.buttons #go{
  margin-right: 1%;
}

#rent_container {
  left: 20%;
  width: 60%;
  height: 55%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

  display: none;
  z-index: 5;
  border: solid white 2px;
  border-radius: 15px;
  background-color: #EFFBF2;
  opacity: 0.8;

}

.go_futsal, .go_lecture {
  text-align: center;
  font-size: 100%;
  width: 40%;
  height: 40%;
  margin-top: 15%;
  border-radius: 15px;
  /*border: solid 2px black;*/
}

.go_futsal{
  float: left;
  margin-left: 7%;
  background-color:#CEF6CE;

}

/*.inner :hover{
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0);


}*/

.go_lecture{
  margin-right: 7%;
  float: right;
  background-color:#F7F8E0;

}

.inner {
  font-size: 200%;
  height: auto;
  margin-top: 22%;
  /*border: solid red 2px;*/
}
.inner a {
  text-decoration: none;
  color : black;
}
