body{
  background-image: url("../main/mainimg/theball2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#ericamap {
  border-radius: 45%;
  width: 70%;

}

.container {
  margin-top: 0%;
  margin: auto;
}

.modal-dialog{
  margin-top: 20%;
}
#main-section{

/*background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);*/
  box-shadow: 3px 10px 5px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 3px;
}

/*#futsal_btns button{
  display: inline;
  text-align: center;
  30 118 189
}*/



@media only screen and (max-width: 500px) {
    #ericamap {
      border-radius: 48%;
      width: 90%;

    }
    .container {
      margin-top: 1%;
    }

    .modal-dialog{
      margin-top: 50%;
    }

    #home {
      margin-top: -10%;
    }
    #futsal_btns{
      margin-left: auto;
      margin-right: auto;
    }

    #menuicon, #xicon, #menubar {
      margin-top:-10%;
    }
    #main-section{

    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    height: 600px;

    }

    #soccer, #stadium, #futsal_A, #futsal_B {
      width : 75%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    #weatehr-section{
      width:40%;
    }
    #ericamap {
      border-radius: 45%;
      width: 90%;
    }

    .container {
      margin-top: 1%;
    }

    .modal-dialog{
      margin-top: 30%;
    }

    #home {
      margin-top: -15%;
    }

    #menuicon, #xicon, #menubar {
      margin-top: -15%;
    }
    #main-section{

    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    height: 800px;

    }
}







#right-side{
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  height: 300px;
  /*display: none;*/
  /*border-radius: 5%;*/

}

.notice-table {
  width: 100%;
  height: 300px;

  /*margin-left: 15%;*/

}


#menuicon{
  z-index: 110;
}

#xicon{
  z-index: 120;
}



button{
  width: 50%;
  margin-left:25%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin-bottom: 1%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0;
  font-size: 400%;
  background:rgb(30,118,195);
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:400ms ease all;
  outline:none;
  border-radius: 3px;
  text-decoration: none;
}
button:hover {
  background:#fff;
  color:rgb(30,118,189);
  text-decoration: none;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(30,118,160);
  text-decoration: none;
  transition:100ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  text-decoration: none;
}
button:hover:before,button:hover:after {
  width:100%;
  transition:600ms ease all;
  text-decoration: none;
}
.hidden {
  display: none;
}
#home{
  position: relative;
  float: right;
}
#menuicon{
  position: absolute;

}
marquee{

  background:rgba(250,250,250,0.5);
  /*background-color: white;*/
}
p{
  text-align: center;
  color: white;
  font-weight: bold;
}
