body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #53C14B;
}
@font-face {
  font-family: abouthead;
  src: url(font/Franks-Regular.otf);
}
hr{
  color: red;
}
h1{
  text-align: center;
  font-weight: bold;
  font-family: abouthead;
  font-size: 28pt;
  letter-spacing: 0.8pt;
  margin: 0;
  margin-top: 2%;
}
.front img, .back img{
  height: 230px;
  width: 250px;
  border: 2px solid black;
}
.front span{
  visibility: hidden;
  font-family: abouthead;
  position: absolute;
  padding: 10px;
  border: 2px solid blue;
  width: 230px; height: 210px;
  text-align: center;
}
.front span h2{
  font-size: 21pt;
  font-weight: bold;
  margin: 0;
}
.front span p{
  font-size: 18pt;
  margin: 0;
}
.front span a{
  font-size: 15pt;
}
.front{
  margin: auto;
  width: 600px;
  margin-top: 3%;
}
.back{
  margin: auto;
  width: 770px;
  margin-top: 3%;
}
#kwon{
  margin-right: 70px;
}
.front_info section{
  height: 230px;
  width: 250px;
  border: 2px solid black;
}
.front_info{
  position: absolute;
  width: 1000px;
  top: 17%;
}
