body, html{
  margin: 0;
  padding: 0;
  width: 100%;
}
body{
  background-image: url(image/theball.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@font-face {
  font-family: mylight;
  src: url(../font/Existence-Light.otf);
}
@font-face {
  font-family: myparagraph;
  src: url(../font/DXPnM-KSCpc-EUC-H.ttf);
}
.entire{
  background-color: rgba(255, 255, 255, 0.75);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  top: 15%;
  position: absolute;
}
h2{
  text-align: center;
  font-weight: bold;
  font-family: mylight;
  font-size: 20pt;
}
.siteinfo{
  top: 3%;
  width: 100%;
  margin-bottom: 5%;
}
.siteinfo p{
  font-family: myparagraph;
  font-size: 13pt;
  line-height: 1.3em;
  clear: both;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}
.siteinfo img{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.signimages img{
  float: left;
  width: 130px;
}
.signimages img:not(#final){
  margin-right: 20px;
}
.signimages{
  width: 450px;
  margin: auto;
}
.developer{
  clear: both;
}
