body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(image/background.jpg);
}
@font-face {
  font-family: abouthead;
  src: url(font/Franks-Regular.otf);
}
hr{
  color: red;
}
h1{
  text-align: center;
  font-weight: bold;
  font-family: abouthead;
  font-size: 28pt;
  letter-spacing: 0.8pt;
  margin: 0;
  margin-top: 2%;
}
.front img, .back img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.front{
  margin: auto;
  width: 600px;
  margin-top: 5%;
}
.back{
  margin: auto;
  width: 910px;
  margin-top: 3%;
}
#kwon{
  margin-right: 70px;
}
#choi, #park{
  margin-right: 70px;
}
span{
  font-family: abouthead;
  position: absolute;
  padding: 10px;
  width: 230px; height: 210px;
  text-align: center;
  z-index: -1;
}
span h2{
  font-size: 21pt;
  font-weight: bold;
  margin: 0;
}
span p{
  font-size: 18pt;
  margin: 0;
}
span a{
  font-size: 15pt;
}
