body{
  overflow: hidden;
}

.reserve_container {
  width: 70%;
  height: 60%;
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2F2F2;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.4);
  transition: 0.4s;
  transform: scale(1);
}
.reserve_container:hover{
  transition: 0.4s;
  transform: scale(1.02);
}


.reserve_container .timetable{
  position: absolute;
  width: 80%;
  height: 50%;
  left: 10%;
  right: 10%;
  top: 11%;
  /*background-color: red;*/

}

.times {
  border-collapse: collapse;
  font-size: 100%;
  border-radius: 10px;
  font-size: 15pt;
}



.times th {
  width: 5%;
  color: #168;
  background: #f0f6f9;

}

.times th:first-child{
  width: 7%;

}

.times th:nth-child(2){
  width: 8%;

}
.times th:last-child{
  width: 7%;
}
.times th, .times td {
  border: 1px solid #ddd;
  text-align: center;

}

.reserv_date {
  text-align: right;
}
.reserve_button{
  text-align: right;
}
.times td {
  width: 10px;
  height: 10px;
  /*background-color: red;*/
}
tr:not(#topcell){
  height: 35px;
}
#topcell{
  height: 40px;
}