.confirm_wrap{
	margin-top: 5%;
	width: 50%;
	height: 60%;
	
	margin-left: auto;
	margin-right: auto;
	border-right:2px solid #FAFAFA;
	border-radius: 15px;
	box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.4);

	padding: 5%;
	text-align:center;
}


#notice_on {
	visibility: hidden;

}

#notice_on .show{
	visibility: visible;
}

.hidden {
	display: none;
}
#userleft{
	float: left;
	width: 47%;
	text-align: center;
	margin-left: 2%;
}
#logoutright{
	float: right;
	width: 47%;
	text-align: center;
}
.top{
	overflow: hidden;
	margin-top: 6%;
}
#tophr{
	width: 58%;
	margin-top: 0px;
}

a,p{
	text-decoration: none;
	color: rgb(30,118,189);
}
input{
	font-size: 10pt;
	text-align: center;
	margin: 5px;
	border :none;
	border-bottom: 0.5px solid #D8D8D8;

}
button{
	border: none;
	border-radius: 50px;
	width: 20%;
	font-size: 10pt;
	height: 30px;
	background-color: rgb(248,248,250);
	color: rgb(30,118,189);
	transition: 0.3s;
	transform: scale(1.1);
}
button:hover{
	cursor: pointer;
	transition: 0.5s;
	transform:scale(1);
	
	background-color: rgb(248,248,255);
}