
#reserve_wrap{
	left: 15%;
	height: 60%;
	margin-top: 10%;
	width: 70%;
	
	position: fixed;
}
h2{
	color: black;
	text-align: center;
	font-weight: normal;
}
table{
	/*border: 1px solid black;*/
	border-collapse: collapse;

}
th{
	border: none;
	width: 80px;
	font-weight: normal;
}
#num{
	width: 7%;
	font-size: 10pt;
}
#but{
	width: 3%;
	border: none;
}
#day{
	width: 15%;
}
#place{
	width: 12%;
}
#time{
	width: 20%;
	padding-left: 5px;
	padding-right: 5px;
}

.base{
	background-color: #F2F2F2;
	/*color: #0431B4;*/
	font-size: 10pt;
	font-weight: bold;
	/*border-bottom: 3px solid #0431B4;*/
	/*background-color: #F78181;*/

}
.tab{
	font-size: 15pt;
	background-color: #F2F2F2;
}
.tab2{
	font-size: 15pt;
}
.buttab2{
	background-color: #F2F2F2;
}
th{
	height: 40px;
}
button{
	margin: 0;
	width: 100%;
	height: 100%;
	border: none;
	cursor: pointer;
	font-size: 10pt;
	border-radius: 0;
}
/*#but1{
	border-left: 2px solid #0431B4;
	border-radius:0;
}
#but2{
	border-left: 2px solid #0431B4;
	border-right: 2px solid #0431B4;
	border-radius:0;
}*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
table{
	font-family: 'Nanum Gothic Coding', monospace;
}
#botbut{
	margin-top: 10%;
	background-color: #D8D8D8;
	padding: 2%;
}

/*table radius*/

