p:not(.text-center):not(.right){
	float: left;
	padding: 5px;
}
html{
	padding-top: 15px;
}
body{
	padding-top: 0px;
}
h1{
	font-size: 20pt;
	margin-bottom: 35px;
}
.right{

}
.daterange {
	/*float: right;*/
	/*display: inline;*/
	/*border: 5px red solid;*/
	margin-right: 10px;
	float: right;
	
	/*float: right;*/
	/*background-color: red;*/
}
.container{
	padding-right: 1px;

}

#check_date {
	display: none;
}

#checking_place {
	display: none;
}
.panel-body {	
	float: right;	
	padding: 0px;
}
.panel-heading{
	padding: 0;
}
.container{
	padding:0px;
}
button{
	border:0;
	background-color: rgb(225,225,248);
	color: rgb(30,138,189);
	margin-right: 3%;
	margin-top: 3%;
	width: 20%;
	height: 40px;
	transition: 0.3s;
	transform:scale(1);
}
button:hover{
	transition: 0.3s;
	transform:scale(1.1);
}
.tb1{
	width: 35%;
}





