p:not(.text-center):not(.right){
	float: left;
	padding: 5px;
}
html{
	/*padding-top: 15px;*/
}
body{
	padding-top: 0px;
}
h1{
	font-size: 20pt;
	margin-bottom: 35px;
}
<<<<<<< HEAD
<<<<<<< HEAD
#backimg{

	width: 3%;
	float: right;
	margin-left: 1%;
	opacity: 0.6;
}
=======
>>>>>>> parent of e4ff3b7... asdf
=======
>>>>>>> parent of e4ff3b7... asdf

#menuicon,#xicon,#menuabr {
	z-index: 100;
}

#matchingModal .close{
	margin-right: 0;
}

.show_match_info:hover{
	cursor: pointer;
}
.daterange {

	margin-right: 10px;
	float: right;
}
.container{
	padding-right: 1px;
}
.panel{
	margin-top: 15%;
	background-color:#F2F2F2;
	box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.5);
	border-radius: 3.14159265358979323846264338327950px;
}

#check_date {
	display: none;
}

#checking_place {
	display: none;
}
.panel-body {
	float: right;
	padding: 0px;
	height: 100px;
	margin-right: 6%;
}
.panel-heading{
	padding: 0;
}
.container{
	padding:0px;

}
button,.sangdae{
	color: white;
	font-size: 10pt;
	width: 40%;
	height: 35px;
	border:none;
	border-radius: 3px;
	background-color: #F78181;
	transition: 0.2s;
	transform: scale(1);
}
button:hover{
	cursor: pointer;
	transition: 0.5s;
	transform:scale(0.94);
	background-color:#FA5858;
	font-size: 12pt;
	font-weight: bold;
}
.sangdae:hover{
	cursor: pointer;
	transition: 0.5s;
	transform:scale(0.94);
	background-color:#FA5858;
	font-size: 12pt;
	font-weight: bold;
	color: white;
}



.tb1{
	width: 36%;
}
.text-center{
	cursor: pointer;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    margin-bottom: 1%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%; margin-right: 10%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%; }
}
@media only screen and (min-width: 400px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}