a{
	text-decoration: none;
}
h1{
	text-align: center;
	color: black;
	font-size: 19pt;
	margin-bottom: 0px;
}
p{
	text-decoration: none;
	color: rgb(30,118,189);
}
#userleft{
	float: left;
	width: 47%;
	text-align: center;
	
}
#logoutright{
	float: right;
	width: 47%;
	text-align: center;
	margin-right: 1%;
}
.top{
	overflow: hidden;
	margin-top: 6%;
}
#tophr{
	width: 58%;
}
.momtong{	
	text-align:center;
	margin: auto;
	width: 55%;
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 2%;
	margin-top: 5%;
	padding-bottom: 3%;
	box-shadow: 0px 10px 30px -9px rgba(0,0,0,1);
	border-radius: 3.14159265358979323846264338327950px;
}
.momtong p{
	color: black;
	width: 100%;
	
}
.strong{
	font-weight: bold;
	font-size: 15pt;
}
button:hover{
	cursor: pointer;
	transition: 0.5s;
	transform:scale(0.9);
	background-color:#FA5858;
	font-size: 12pt;
	font-weight: bold;
}
button{
	margin-top: 2%;
	color: white;
	font-size: 10pt;
	width: 40%;
	height: 35px;
	border:none;
	border-radius: 3px;
	background-color: #F78181;
	transition: 0.2s;
	transform: scale(1);
}
.failure img, p{
	width: 80%;
}
.failure p{
	font-size: 40pt;
	text-align: center;
}