html,body{
	text-align: center;
}
p{	
	margin-top: 10%;
	text-align: center;
	font-family: asiangothic;
}
@font-face{
	font-family: asiangothic;
	src : url(../font/asiangothic-Light.otf);
}
table{
	width: 100%;
}
th{
	text-align: center;
}
